body {
  background: white;
}

.sub-hero {
  background: url("imgs/forest-bg-2.jpg");
  background-size: cover;
  height: 70vh;
}

.bread-wrapper {
  display: grid;
  justify-content: center;
  margin: 3em 0 0;
}

ul.breadcrumbs {
  display: flex;
  margin-bottom: 0.5em;
}

ul.breadcrumbs li a {
  color: black;
  margin-right: 0.5em;
  font-weight: bold;
}

.cabins-desc {
  line-height: 1.6;
}

.sub-desc {
  width: 80%;
  margin: 0 auto;
}

.main-copy p {
  padding: 1em 0.5em 2em;
}
.cabin-cta span {
  color: black;
}

.cabin-cta:after {
  background: black;
}

@media (min-width: 550px) {
  ul.featured-cabins li {
    margin-bottom: -5em;
  }
  ul.featured-cabins {
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .wrapper.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .bread-wrapper,
  .breadcrumbs ul {
    display: flex;
    justify-content: flex-start;
  }
  h1 span {
    text-align: start;
  }
  .main-copy p {
    text-align: start;
    padding-left: 0;
    margin-left: 0;
    width: 45%;
  }
  .main-copy {
    margin-left: 2em;
  }
  ul.featured-cabins li {
    margin-bottom: 2em;
    margin-left: 0;
  }
  ul.featured-cabins {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2em;
  }
}

/* CABINS INFO PAGE */
.sub-hero-info {
  background: url("imgs/forest.jpg");
  background-size: cover;
  color: white;
}

.hero-cabins-info ul.breadcrumbs li a {
  color: white;
}

.cabin-info-img {
  width: 70%;
}

.cabin-info p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6;
}
.cabin-info h1 {
  color: white;
  margin-bottom: 0;
}

.cabin-info p.cabin-info-desc {
  line-height: 1.6;
  padding: 2em 0.5em;
}
.small {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;

  padding-bottom: 2em;
}
.cabin-info a {
  margin-top: 2em;
}

@media (min-width: 600px) {
  .cabin-info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
  }

  .cabin-info-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-copy p.cabin-info-desc {
    width: 100%;
    padding-left: 0;
  }
  .main-copy p.cabin-info-text {
    width: 100%;
    padding-left: 0;
  }
  .cabin-info-img {
    width: 40vw;
    object-fit: cover;
  }
}
@media (min-width: 900px) {
  .cabin-info {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 2em;
  }
  .cabin-info-container {
    justify-content: space-between;
    gap: 20px;
  }
  .cabin-info-img {
    width: 40vw;
    max-height: 400px;
    max-width: 500px;
  }
  .cabin-info-desc {
    max-width: 600px;
  }
}
